name: Publish to Maven

on:
  push:
    branches:
      - master

env:
  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ vars.SONATYPE_USER }}
  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_TOKEN }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEYID }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
  SIGNING_SECRET_KEY_RING_CONTENT: ${{ secrets.SIGNING_SECRET_KEY_RING_CONTENT }}
  SIGNING_SECRET_PASSPHRASE: ${{ secrets.SIGNING_SECRET_PASSPHRASE }}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Prepare environment
        run: |
          echo "$SIGNING_SECRET_KEY_RING_CONTENT" | base64 -d > publish_key.gpg
          gpg --batch --yes --decrypt --passphrase="$SIGNING_SECRET_PASSPHRASE" --output secret.gpg publish_key.gpg

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Publish with Gradle
        run: ./gradlew publishAndReleaseToMavenCentral -Psigning.secretKeyRingFile=../secret.gpg -Psigning.keyId=${{ secrets.SIGNING_KEYID }} -Psigning.password=${{ secrets.SIGNING_PASSWORD }}
